body{

font-family:Arial;
max-width:900px;
margin:auto;
padding:40px;

}

h1{

text-align:center;

}

input{

padding:8px;
width:300px;

}

button{

padding:8px;

}

.belief{

border:1px solid #ccc;
padding:10px;
margin-bottom:10px;

}
